* {
  box-sizing: border-box;
}

body {
  background-color: rgba(6, 53, 111, 0.236);
  font-family:
    'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgba(19, 43, 178, 0.766);
}